# Eclipse
.classpath
.project
.settings/

# Maven
target/

# Tomcat
Servers/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# IDE
.idea/
.vscode/

# Local configuration
db.properties
application-local.properties